{% extends 'base.html' %}

{% block content %}
<div class="container mt-4 text-center">
    <h2 class="mb-4">Удалить пациента</h2>
    <p class="alert alert-warning">
        Вы уверены, что хотите удалить пациента <strong>"{{ patient.first_name }} {{ patient.last_name }}"</strong>?
    </p>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger btn-lg" type="submit">Удалить</button>
        <a class="btn btn-secondary btn-lg" href="{% url 'admin_dashboard:patient_list' %}">Отмена</a>
    </form>
</div>
{% endblock %}
