<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список визитов</title>
</head>
<body>
    <div class="container">
        <h1>Список визитов</h1>

        <table>
            <thead>
                <tr>
                    <th>Пациент</th>
                    <th>Дата визита</th>
                    <th>Итоговая сумма</th>
                    <th>Статус оплаты</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for visit in page_obj %}
                <tr>
                    <td>{{ visit.patient.first_name }} {{ visit.patient.last_name }}</td>
                    <td>{{ visit.visit_date }}</td>
                    <td>{{ visit.total_price }} Сум</td>
                    <td>
                        {% if visit.payment_status == 'paid' %}
                            <span style="color: green;">Оплачен</span>
                        {% else %}
                            <span style="color: red;">Не оплачен</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if visit.payment_status == 'paid' %}
                            <button onclick="alert('Визит уже оплачен!');" disabled>Оплатить</button>
                        {% else %}
                            <a href="{% url 'admin_dashboard:visit_payment' visit.id %}">
                                <button>Оплатить</button>
                            </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Пагинация -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1&q={{ search_query }}&sort={{ sort_by }}">First</a>
                    <a href="?page={{ page_obj.previous_page_number }}&q={{ search_query }}&sort={{ sort_by }}">Previous</a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&q={{ search_query }}&sort={{ sort_by }}">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}&q={{ search_query }}&sort={{ sort_by }}">Last</a>
                {% endif %}
            </span>
        </div>
        <a href="{% url 'admin_dashboard:show_dashboard'%}">Назад</a>
    </div>
</body>
</html>
