{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Оплата визита</h2>

    <!-- Отображаем информацию о визите -->
    <div class="card p-3 mb-4">
        <h5><strong>Пациент:</strong> {{ visit.patient.first_name }} {{ visit.patient.last_name }}</h5>
        <p><strong>Итоговая сумма визита:</strong> {{ visit.total_price }} ₽</p>
        <p><strong>Оплачено:</strong> {{ visit.paid_amount }} Сум</p>
        <p><strong>Оставшаяся сумма:</strong> {{ remaining_amount }} Сум</p>
    </div>

    {% if visit.payment_status == 'paid' %}
        <!-- Если визит уже полностью оплачен -->
        <div class="alert alert-success text-center">
            <h4>Этот визит полностью оплачен!</h4>
        </div>
        <a href="{% url 'admin_dashboard:visit_list' %}" class="btn btn-primary btn-block">Вернуться к списку визитов</a>
    {% else %}
        <!-- Форма для ввода оплаты -->
        <div class="card p-3">
            <form method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="payment_method" class="form-label">Способ оплаты:</label><br>
                    <input type="radio" name="payment_method" value="cash" required> Наличные
                    <input type="radio" name="payment_method" value="card" required> Пластик
                </div>

                <div class="mb-3">
                    <label for="paid_amount" class="form-label">Введите сумму оплаты:</label>
                    <input type="number" id="paid_amount" name="paid_amount" step="0.01" value="{{ remaining_amount }}" required class="form-control">
                </div>

                <button type="submit" class="btn btn-success btn-block">Подтвердить оплату</button>
            </form>
        </div>
    {% endif %}

    <a href="{% url 'admin_dashboard:visit_list' %}" class="btn btn-secondary btn-block mt-3">Назад</a>
</div>
{% endblock %}
